ul, li{
margin:0;
padding:0 0 0 15px;    
}

#programming-languages-list{
    float: left;
    margin: 0 20px 0 0;
    
}

#third-list{
    float: left;
    margin: 0 20px 0 0;
}

#second-list{
    float: left;
    margin: 0 20px 0 0;
}

#skills-section{
    display: inline;
}


@media(max-width:875px){    

    #programming-languages-list{
        float: none;
        margin-left: 35%;
    }

    #second-list{
        margin-left: 35%;
    }

    #third-list{
        margin-left: 35%;
        margin-top: 10%;
    }

}
