ul { 
    display: inline-block;
    vertical-align: top;
}

#programming-languages-list{
    width: 20%;
    margin-left: 5%;
    margin-top: 40px%;
    
}

#third-list{
    width: 20%;
    margin-top: 30px%;
}

#second-list{
    width: 20%;
    margin-top: 20px%;
}

#skills-section{
    display: inline;
}


@media(max-width:875px){    

    #programming-languages-list{
        float: none;
        margin-left: 35%;
    }

    #second-list{
        margin-left: 35%;
    }

    #third-list{
        margin-left: 35%;
        margin-top: 10%;
    }

}
