body{
  background-color: #F8F8F8;
  color: #555555;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.6em;
  margin: auto;
}


@media(max-width:875px){
  #main{
      width: 100%;
      float: none;
  }

  #nav-bar{
      background-color: black;
      text-align: center;
  }

  #nav-bar #contact-me-nav-link{
      display: inline-block;
      margin-top: 5px;
  }

  #programming-languages-list{
      float: none;
      margin-left: 35%;
  }

  #applications-list{
      margin-left: 35%;
  }

  #operating-systems-list{
      margin-left: 35%;
      margin-top: 10%;
  }

  .linked-in-class{
      float: none;
      margin-left: 35%;
  }

  .e-mail-class{
      margin-left: 35%;
  }

}
